.datepicker-wrapper .form-control {
  padding-right: 12px;
}
.datepicker-wrapper .form-control[disabled] + label {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.datepicker {
  padding: 0;
  width: 248px;
}
.datepicker.days div.datepicker-days {
  display: block;
}
.datepicker.months div.datepicker-months {
  display: block;
}
.datepicker.years div.datepicker-years {
  display: block;
}
.datepicker table {
  padding: 4px;
  border-collapse: separate;
  border-spacing: 4px 4px;
}
.datepicker table td,
.datepicker table th {
  text-align: center;
  width: 30px;
  line-height: 20px;
  border: 0;
  padding: 5px;
  color: #222222;
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.datepicker table th.switch {
  font-weight: 700;
}
.datepicker div.datepicker-months table,
.datepicker div.datepicker-years table {
  padding: 8px 4px;
  border-spacing: 4px 0;
}
.datepicker div.datepicker-months th.switch,
.datepicker div.datepicker-years th.switch {
  width: 166px;
}
.datepicker div.datepicker-months tbody > tr > td,
.datepicker div.datepicker-years tbody > tr > td {
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
  background-color: transparent;
}
.datepicker table tr td.day:hover {
  background: #eeeeee;
  cursor: pointer;
  border-radius: 50%;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #bbbbbb;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #bbb;
  cursor: not-allowed;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  color: #db3d44;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  color: #fff;
  font-weight: bold;
  background-color: #db3d44;
  border-radius: 50%;
}
.datepicker table tr td span {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  float: left;
  cursor: pointer;
  color: #222222;
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 5px;
}
.datepicker table tr td span:hover {
  background: #eeeeee;
  border-radius: 50%;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #bbb;
  cursor: not-allowed;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  color: #ffffff;
  background-color: #db3d44;
  font-weight: 700;
  border-radius: 50%;
}
.datepicker table tr td span.old {
  color: #bbbbbb;
}
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr:first-child th:hover {
  cursor: pointer;
  background: #eeeeee;
  border-radius: 3px;
}
.datepicker thead tr:first-child th.prev .fa,
.datepicker thead tr:first-child th.next .fa {
  font-size: 16px;
  color: #222222;
  vertical-align: top;
  margin-top: 1px;
}
.datepicker .dow {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  padding-top: 9px;
}
.date-time-picker-example .custom-wrapper {
  position: absolute;
  left: 0;
  border: 1px solid #bbbbbb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.date-time-picker-example .custom-wrapper > ul.dropdown-menu {
  position: static;
}
.date-time-picker-example .custom-wrapper .date-picker-pane {
  padding: 12px;
  border-left: 1px solid #dddddd;
}
.date-time-picker-example .custom-wrapper .date-picker-pane.show {
  display: inline-block !important;
}
.date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-header .tilde {
  width: 24px;
}
.date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-body {
  margin-top: 8px;
}
.date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-body .date-picker-pane-container {
  float: left;
}
.date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-body .date-picker-pane-container .datepicker table {
  padding: 0 3px;
}
.date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-body .date-picker-pane-container + .date-picker-pane-container {
  margin-left: 24px;
}
.date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-body .date-picker-pane-container + .date-picker-pane-container:before {
  content: ' ';
  display: block;
  height: 260px;
  vertical-align: middle;
  margin-left: -12px;
  float: left;
  margin-right: 12px;
  margin-top: 16px;
  border-left: 1px solid #E6E6E6;
}
.date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-footer {
  margin-top: 12px;
}
.date-time-picker-example .dropdown.open > .custom-wrapper > ul.dropdown-menu {
  display: inline-block;
  border: 0;
  box-shadow: none;
}
.date-time-picker-example .simple-date-time-container .input-icon-group {
  float: left;
}
.date-time-picker-example .simple-date-time-container .input-icon-group + .input-icon-group {
  margin-left: 8px;
}
