.general-scrollbar-example .hidden-scrollable-example {
    margin-top: 230px;
}
.general-scrollbar-example .hidden-scrollable-container {
    height: 340px;
    border: 1px solid #cccccc;
    display: flex;
}
.general-scrollbar-example .hidden-scrollable-container .hidden-scrollable {
    overflow-y: auto;
    width: 281px;
}
.general-scrollbar-example .hidden-scrollable-container .hidden-scrollbar-text {
    flex: 1;
    text-align: center;
    color: #999999;
    font-size: 13px;
    padding: 159px 56px;
}
.general-scrollbar-example .hidden-scrollable-container .hidden-scrollbar-text > span {
    line-height: 20px
}
.table-scrollbar-example .table-with-scrollbar + .table-with-scrollbar {
	margin-top: 24px;
}
.table-scrollbar-example .table-with-scrollbar .table-pagination {
	width: 100%;
	vertical-align: top;
}
.table-scrollbar-example .table-with-scrollbar .table-pagination .table-pagination-block .pagination {
  margin-bottom: 0;
   margin-top: 0;
}
.table-with-scrollbar .table > thead > tr > th:nth-child(1),
.table-with-scrollbar .table > tbody > tr > td:nth-child(1) {
  width: 35.3%;
}
.table-with-scrollbar .table > thead > tr > th:nth-child(2),
.table-with-scrollbar .table > tbody > tr > td:nth-child(2) {
  width: 23.53%;
}
.table-with-scrollbar .table > thead > tr > th:nth-child(3),
.table-with-scrollbar .table > tbody > tr > td:nth-child(3) {
  width: 11.76%;
  text-align: right;
}
.table-with-scrollbar .table > thead > tr > th:nth-child(4),
.table-with-scrollbar .table > tbody > tr > td:nth-child(4) {
  width: 17.64%;
}
.table-with-scrollbar .table > thead > tr > th:nth-child(5),
.table-with-scrollbar .table > tbody > tr > td:nth-child(5) {
  width: 11.77%;
}
.table-with-scrollbar .table-horizontal-scrollable .table {
  table-layout: auto;
}
.table-with-scrollbar .table-horizontal-scrollable .table > thead > tr > th,
.table-with-scrollbar .table-horizontal-scrollable .table > tbody > tr > td {
  white-space: nowrap;
  text-align: left;
}