.btn-lg.btn i.fa,
.btn-lg.btn span.fa,
.btn-sm.btn i.fa,
.btn-sm.btn span.fa,
.btn-xs.btn i.fa,
.btn-xs.btn span.fa {
  font-size: inherit;
}
.btn-lg.btn i.svg,
.btn-lg.btn span.svg {
  width: 24px;
  height: 24px;
}
.btn-sm.btn i.svg,
.btn-sm.btn span.svg,
.btn-xs.btn i.svg,
.btn-xs.btn span.svg {
  width: 12px;
  height: 12px;
}
i.fa,
span.fa {
  font-size: 14px;
  color: #666666;
}
i.svg,
span.svg {
  width: 16px;
  height: 16px;
}
.btn-primary i.fa,
.btn-danger i.fa,
.btn-primary span.fa,
.btn-danger span.fa {
  color: #ffffff;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}