.table-with-scrollbar .table-horizontal-scrollable.fixed-column:after {
  content: "";
  height: 8px;
  width: 240px;
  display: block;
  background-color: #e6e6e6;
  border-right: 1px solid #bbbbbb;
  border-left: 1px solid #dddddd;
}
.table-with-scrollbar .table-scrollable {
  max-height: 149px;
  overflow-y: auto;
}
.table-with-scrollbar .table-scrollable .table {
  border: 0;
}
.table-with-scrollbar .table-scrollable .table > tbody > tr:first-child > td {
  border-top: 0;
}
.table-with-scrollbar .table-scrollable .table > tbody > tr:last-child > td {
  border-bottom: 0;
}
.table-with-scrollbar .table-horizontal-scrollable.fixed-column {
  width: 240px;
}
.table-with-scrollbar .table-horizontal-scrollable.fixed-column .table > thead > tr > th,
.table-with-scrollbar .table-horizontal-scrollable.fixed-column .table > tbody > tr > td {
  border-right: 1px solid #bbbbbb;
}
.table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar {
  overflow-x: auto;
  max-width: calc(100% - 240px);
  border-right: 1px solid #dddddd;
}
.table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table {
  border-left: 0;
  border-right: 0;
}
.table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table > thead > tr > th:first-child,
.table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table > tbody > tr > td:first-child {
  border-left: 0;
}
.table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table > thead > tr > th:last-child,
.table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table > tbody > tr > td:last-child {
  border-right: 0;
}
